/* ========== Estilização da Main ==========*/
#floresta{
  height: 500px;
  border-radius: 5px;
  width: 1100px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.descricao{
  position: relative;
  text-align: center;
}

.descricao p{
  color: #096e46;
  font-size: 20px;
  text-align: center;
  margin: 50px;
}

.titulo-historias {
  color: #096e46;
  font-size: 36px;
  text-align: center;
}

section button{
  border-radius: 20px;
  background-color: #1a9c29;
  border: none;
  width: 200px;
  height: 70px;
  font-size: 20px;
}

.botao-projetos{
  position: absolute;
  top: 450px;
  right: 250px;
}

@media (max-width: 1176px) {
    .botao-projetos {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

.botao-leia{
  position: relative;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

@media (min-width: 1474px) {
    .botao-leia {
        text-align: center;
        transform: translateX(-150px);
    }
}

section button a{
  color: white;
  text-decoration: none;
}

section button:hover{
  background-color: rgb(68, 160, 79);
  cursor: pointer;
}

.historias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  margin: 20px;
  color: #096e46;
}

#voluntarios{
  border-radius: 5px;
  max-width: 100%;
}

.imagens{
  height: 35px;
  width: 35px;
  border-radius: 65px;
  margin: 16px;
}
